
🩸 {{ blood_center_name }} — Estoque em atenção

{% for blood_type in blood_types %}
  🔴 {{ blood_type["name"] }} — {{ blood_type["status"] }}
{% endfor %}

🏥 Hemocentro:  {{ blood_center_name }} —  {{ blood_center_city }}
📍 Endereço: {{ blood_center_address }}

❤️ Se você puder doar sangue, sua doação pode ajudar a salvar vidas.
